@import '../styles//variables';

.book--layout-main {
    display: flex;
    .book--container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        ul {
            margin: 0;
            padding: 0;
        }
    }
    .button-link-sample-text {
        font-size: 24px;
    }
    .input-instructions {
        display: inline-block;
        margin-bottom: 5px;
    }
    #search-instructions {
        margin-left: 10px;
        font-size: 12px;
        color: $gray40;
    }
}

@media only screen and (max-width: 600px) {
    .book--layout-main  {
        flex-direction: column;
    }
  }